@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-shadow: none;
  font-family: "Open-Sans", sans-serif;
  font-style: normal;
}

body {
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  display: grid;

  grid-template-areas: "header header" "aside main" "footer footer";
  grid-template-columns: 180px 1fr;
  grid-template-rows: 80px 1fr 60px;
}

header {
  background-color: rgb(0, 0, 0);
  grid-area: header;
  color: aliceblue;

  h1 {
    margin-left: 20px;
  }
}





aside {
  background-color: rgb(86, 86, 86);
  grid-area: aside;
}

main {
  background-color: rgb(37, 37, 37);
  grid-area: main;
  color: aliceblue;

  overflow: auto;

  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    column-gap: 200px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    
    div {
      justify-items: center;
      align-items: center;
      background-color: rgb(79, 79, 79);
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.534);
    }
  }

  img {
    height: 200px;
  }

  h2{

     padding-left: 10px;
    margin: 40px;
    margin-bottom: -5px;
  }
  #sobre{

    padding: 10px 10px 10px 50px ;
    font-size: 20px;
    margin-bottom: 40px;

  }

}

footer {
  background-color: rgb(0, 0, 0);
  grid-area: footer;
  text-align: center;
  color: aliceblue;
  padding: 25px;
  
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

nav a {
  display: flex;
  justify-content: center;

  margin: 5px;
  padding: 5px;
  background-color: rgba(78, 78, 78, 0);
  border-radius: 5px;
  height: auto;
  width: 70px;
  color: rgb(0, 0, 0);
  transition: 0.9s ease;
  text-decoration: none;

  p {
    margin: 0;
  }
}

nav a:hover {
  background-color: rgb(177, 177, 177);
  transform: scale(1.1);
  
}
