* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  --dark--color: rgb(32, 32, 32);
  --medium--color: rgb(52, 52, 52);
  --light--color: aliceblue;
  --primary--color: rgb(12, 68, 128);
  --danger--color: rgb(141, 48, 48);
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: var(--dark--color);
  color: var(--light--color);
  max-width: 100vw;
  overflow: hidden;
}

.conteudo {
  display: flex;
  text-align: center;

  align-items: center;
  min-height: 80vh;
  flex-direction: column;
  background: var(--medium--color);
  margin: 5% 10%;
  border-radius: 5px;
  img {
    margin-top: 1rem;
  }
}

.conteudo h2 {
  margin-top: 1.5rem;
  margin-bottom: 10px;
}

.dados {
  margin: 2rem;
  border-radius: 10px;
  overflow: hidden;
  border-collapse: separate;
}

.dados tr {
  color: var(--dark--color);
  background-color: var(--light--color);
  width: 7rem;
}

.dados th {
  width: 20rem;
}

.checkbox {
  margin: 0 1rem;
}

.input {
  margin: 1rem;
  position: fixed;
  bottom: 12%;
  left: 0;
  right: 0;
  border-radius: 5px;

  input {
    border-radius: 5px;
    height: 2.1rem;
    padding: 0.5rem;
  }
}

.mensagem {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 5rem;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, #ffffff9c 90%, #0000) 0 /
    calc(100% / 3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}
@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}

.port {
  color: rgba(255, 255, 255, 0.573);
  position: fixed;
  bottom: 2%;
  left: 0;
  right: 0;
  text-decoration: none;

  transition: all 0.3s ease; 

}

.port:hover {
  color: #ffffff;   
  transform: scale(1.05);  
}
